@page "/"
@inject IJSRuntime JSRuntime

<h1>Safari copy bug</h1>

<p>Click the copy button:</p>
<ul>
  <li>In Safari you will get an error that it doesn’t work (with error in console too)</li>
  <li>In other browsers you will get 'Hello world' copied to your clipboard successfully</li>
</ul>

<button id="copy-button" class="btn btn-primary" type="button">Copy '@_url'</button>

@code {
  private string _url = "Hello, world!";
  
  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    await base.OnAfterRenderAsync(firstRender);
    
    if (!firstRender)
    {
      return;
    }

    await JSRuntime.InvokeVoidAsync("SetCopyUrl", _url);
  }
}
