@page "/"
@inject IJSRuntime JSRuntime

<h1>Safari copy bug</h1>

<button class="btn btn-primary" type="button" @onclick="CopyTextToClipboard">Copy 'Hello world'</button>

@code {
  private async Task CopyTextToClipboard()
  {
    await JSRuntime.InvokeVoidAsync("clipboardCopy.copyText", "Hello world");
  }
}
